
.fretboard {}

.fretboard-group {}

.fretboard-dot {
  fill: #fff;
}

.fretboard-dot-number {

  font-family: sans-serif;
  text-anchor: middle;

  stroke-width: 1;
  font-size: 24px;
}

.fretboard-string {
  stroke: #2e2e2e;
  stroke-width: 12px;
}

.fretboard-fret {
  stroke: #5b5959;
  stroke-width: 12px;
}

.fretboard-fret-number-group {}

.fretboard-fret-number {
  text-anchor: middle;
  font-family: sans-serif;

  stroke-width: 1;
  font-size: 24px;
}
