.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  @apply font-bold text-amber-800;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fretboard {}

.fretboard-group {}

.fretboard-dot {
  fill: #fff;
  stroke: #000;
  stroke-width: 4;
}

.fretboard-dot-number {

  font-family: sans-serif;
  text-anchor: middle;

  fill: #fff;
  stroke: #000;
  stroke-width: 1;
  font-size: 30px;
}

.fretboard-string {
  stroke: #2e2e2e;
  stroke-width: 12px;
}

.fretboard-fret {
  stroke: #5b5959;
  stroke-width: 12px;
}

.fretboard-fret-number-group {}

.fretboard-fret-number {
  text-anchor: middle;
  font-family: sans-serif;

  fill: #fff;
  stroke: #000;
  stroke-width: 1;
  font-size: 24px;
}
