
.fretboard {}

.fretboard-group {}

.fretboard-string {
  stroke: #2e2e2e;
}

.fretboard-fret {
  stroke: #706e6e;
}

.fretboard-nut {
  stroke: #2e2e2e;
}

.fretboard-fret-numbers {}

.fretboard-fret-number {
  font-family: sans-serif;
  text-anchor: middle;
  stroke-width: 1;
  font-size: 24px;
}
