@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}



body {
  margin: 0;
  height: 100%;
  min-width: 360px;
  width: 100%;
  overflow-x: clip;
  overflow-y: auto;
}

code {
  @apply text-gray-600;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
