name: Release
on:
  workflow_call:

jobs:
  release:
    environment: release
    env:
      RELEASE_TOKEN: ${{ secrets.RELEASE_APP_TOKEN }}
    name: Create
    runs-on: ubuntu-latest
    steps:
      - name: check token
        run: echo "TOKEN [ $TOKEN ]"
        env:
          TOKEN: ${{ env.RELEASE_TOKEN }}
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ env.RELEASE_TOKEN }}
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: npm
          cache-dependency-path: '**/package-lock.json'
      - name: Install
        run: npm ci
      - name: Switch to next-release branch
        run: |
          git checkout -b release/next
      - name: Set next version
        run: |
          npm run release:ci-prepare
          echo "Next version: $(cat next-version.txt)"
          echo "release_version=$(cat next-version.txt)" >> $GITHUB_ENV
        env:
          GITHUB_TOKEN: ${{ env.RELEASE_TOKEN }}
      - name: Configure git user
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com
      - name: Switch to release branch
        run: |
          git checkout -b release/v${{ env.release_version }}
      - name: Release
        run: npm run release:ci
        env:
          GITHUB_TOKEN: ${{ env.RELEASE_TOKEN }}
      - name: Create PR
        id: release-pr
        uses: thomaseizinger/create-pull-request@1.2.2
        with:
          title: Release v${{ env.release_version }}
          body: PR Release ${{ env.release_version }}
          head: release/v${{ env.release_version }}
          base: main
          GITHUB_TOKEN: ${{ env.RELEASE_TOKEN }}
