name: Release
on:
  workflow_call:
    secrets:
      RELEASE_TOKEN:
        required: true

jobs:
  release:
    name: Create
    runs-on: ubuntu-latest
    steps:
      - name: Obtain GitHub App Installation Access Token
        id: get_token
        run: |
          echo "TKN [${{ secrets.RELEASE_TOKEN }}]"
          TOKEN="$(npx obtain-github-app-installation-access-token ci ${{ secrets.RELEASE_TOKEN }})"
          echo "::add-mask::$TOKEN"
          echo "release_token=$TOKEN >> $GITHUB_ENV"
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          token: ${{ env.release_token }}
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: npm
          cache-dependency-path: '**/package-lock.json'
      - name: Install
        run: npm ci
      - name: Switch to next-release branch
        run: |
          git checkout -b release/next
      - name: Set next version
        run: |
          npm run release:ci-prepare
          echo "Next version: $(cat next-version.txt)"
          echo "release_version=$(cat next-version.txt)" >> $GITHUB_ENV
        env:
          GITHUB_TOKEN: ${{ env.release_token }}
      - name: Configure git user
        run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com
      - name: Switch to release branch
        run: |
          git checkout -b release/v${{ env.release_version }}
      - name: Release
        run: npm run release:ci
        env:
          GITHUB_TOKEN: ${{ env.release_token }}
      - name: Create PR
        id: release-pr
        uses: thomaseizinger/create-pull-request@1.2.2
        with:
          title: Release v${{ env.release_version }}
          body: PR Release ${{ env.release_version }}
          head: release/v${{ env.release_version }}
          base: main
          GITHUB_TOKEN: ${{ env.release_token }}
