name: Release
on:
  workflow_call:

jobs:
  complete:
    name: Merge Release PR
    runs-on: ubuntu-latest
    steps:
      - name: Check refs
        run: echo "$PR_NUMBER $RELEASE
        env:
          PR_NUMBER: ${{ github.ref }}
          RELEASE: ${{ github.head_ref }}
      - name: Merge Release PR
        uses: actions/github-script@v6.1.0
        env:
          PR_NUMBER: ${{ github.ref }}
          RELEASE: ${{ github.head_ref }}
        with:
          script: |
            const repository = context.repo
            const { PR_NUMBER, RELEASE } = process.env
            
            console.log('MERGE PR', PR_NUMBER, RELEASE)
            
            await github.rest.pulls.createReview({
              event: "APPROVE",
              owner: repository.owner,
              pull_number: $PR_NUMBER,
              repo: repository.repo,
            })

            await github.rest.pulls.merge({
              merge_method: "merge",
              owner: repository.owner,
              pull_number: $PR_NUMBER,
              repo: repository.repo,
              commit_title: "Complete $RELEASE [skip ci]"
            })
