name: Build MAIN
on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
    paths-ignore:
      - '**/*.md'

permissions:
  contents: write

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  test:
    uses: ./.github/workflows/job.test.yaml
  build:
    needs:
      - test
    uses: ./.github/workflows/job.build.yaml
  release:
    needs:
      - test
      - build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: npm
          cache-dependency-path: '**/package-lock.json'
      - name: Install
        run: npm ci
      - name: Release
        run: echo "RELEASE | $GITHUB_TOKEN"
        env:
          GITHUB_TOKEN: ${{ github.token }}
