name: Build MAIN
on:
  push:
    branches:
      - main
    tags-ignore:
      - '**'
    paths-ignore:
      - '**/*.md'

permissions:
  contents: read

concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  test:
    name: QA
    uses: ./.github/workflows/job.test.yaml
  build:
    name: Build
    needs:
      - test
    uses: ./.github/workflows/job.build.yaml
